.wrap-login-form {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    background: #f5f5f5;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        float: right;
    }
}
